
.tours {
  padding: 90px 0;
}

.tours__title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 100%;
  color: #000000;
}

.tours__cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 60px;
}

.tours__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tours__card-img {
  border-radius: 20px;
  object-fit: cover;
}


.tours__card-content {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.tours__card-title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  color: #000000;
}

.tours__card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}
.tours__card-link {
  margin-top: auto;
  font-size: 16px;
  line-height: 22px;
}
